Source: kodi-pvr-zattoo
Priority: extra
Maintainer: rbuehlma <rene@buehlmann.net>
Build-Depends: debhelper (>= 9.0.0), cmake, pkg-config,
               kodi-addon-dev, rapidjson-dev, libp8-platform-dev, libsqlite3-dev, libtinyxml2-dev
Standards-Version: 4.1.2
Section: libs
Homepage: http://kodi.tv

Package: kodi-pvr-zattoo
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Zattoo PVR for Kodi
 Zattoo PVR for Kodi

Package: kodi-pvr-zattoo-dbg
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: debug symbols for Zattoo PVR for Kodi
 debug symbols for Zattoo PVR for Kodi
