<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<setting id="username" type="text" label="37101" default="" />
	<setting id="password" type="text" option="hidden" label="37102" default="" />
	<setting id="favoritesonly" type="bool" label="37103" default="false" />
	<setting id="alternativeepgservice" type="bool" label="37104" default="false" />
	<setting id="streamtype" type="enum" label="37105" default = "0" values="dash|hls" />
	<setting id="provider" type="enum" label="37106" default = "0" values="Zattoo|Netplus|Quickline|m-net|WALY.TV|meinewelt.cc|BBV-tv.net|VTXtv.ch|myvisiontv.ch|GLATTvision.ch|SAKtv.ch|NetCologne|EWE.de|quantum TV|Salt.ch|swb TV|1&1 TV" />
	<setting id="xmlTVFile" type="text" label="37107" default="" />
</settings>
