<?xml version="1.0" encoding="utf-8" ?>
<settings version="1">
  <section id="pvr.zattoo">
    <!-- general -->
    <category id="general" label="37110">
      <group id="1" label="37114">
        <setting id="username" type="string" label="37101">
          <level>0</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string" />
        </setting>
        <setting id="password" type="string" label="37102">
          <level>0</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string">
            <hidden>true</hidden>
          </control>
        </setting>
        <setting id="favoritesonly" type="boolean" label="37103">
          <level>0</level>
          <default>false</default>
          <control type="toggle" />
        </setting>
        <setting id="streamtype" type="integer" label="37105">
          <level>0</level>
          <default>0</default>
          <constraints>
            <options>
              <option label="37180">0</option> <!-- dash -->
              <option label="37181">1</option> <!-- hls -->
              <option label="37182">2</option> <!-- dash_widevine -->
            </options>
          </constraints>
          <control type="spinner" format="integer" />
		</setting>
        <setting id="provider" type="integer" label="37106">
          <level>0</level>
          <default>0</default>
          <constraints>
            <options>
              <option label="37130">0</option> <!-- Zattoo -->
              <option label="37131">1</option> <!-- Netplus -->
              <option label="37132">2</option> <!-- Quickline -->
              <option label="37133">3</option> <!-- m-net -->
              <option label="37134">4</option> <!-- WALY.TV -->
              <option label="37135">5</option> <!-- meinewelt.cc -->
              <option label="37136">6</option> <!-- BBV-tv.net -->
              <option label="37137">7</option> <!-- VTXtv.ch -->
              <option label="37138">8</option> <!-- myvisiontv.ch -->
              <option label="37139">9</option> <!-- GLATTvision.ch -->
              <option label="37140">10</option> <!-- SAKtv.ch -->
              <option label="37141">11</option> <!-- NetCologne -->
              <option label="37142">12</option> <!-- EWE.de -->
              <option label="37143">13</option> <!-- quantum TV -->
              <option label="37144">14</option> <!-- Salt.ch -->
              <option label="37145">15</option> <!-- swb TV -->
              <option label="37146">16</option> <!-- 1&1 TV -->
            </options>
          </constraints>
          <control type="list" format="integer" />
		</setting>
		<setting id="xmlTVFile" type="string" label="37107">
          <level>0</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string" />
        </setting>
      </group>
      <group id="2" label="37112">
        <setting id="provide_zattoo_session" type="boolean" label="37113">
          <level>0</level>
          <default>false</default>
          <control type="toggle" />
        </setting>
        <setting id="alternativeepgservice_https" type="boolean" label="37104">
          <level>0</level>
          <default>false</default>
          <control type="toggle" />
          <dependencies>
            <dependency type="enable" setting="provide_zattoo_session">true</dependency>
          </dependencies>
        </setting>
      </group>
    </category>
  </section>
</settings>
