<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<setting id="username" type="text" label="Benutzername" default="" />
	<setting id="password" type="text" option="hidden" label="Passwort" default="" />
	<setting id="favoritesonly" type="bool" label="Nur Favoriten-Kanäle" default="false" />
</settings>
